.form-steps {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
    .form-steps {
        margin-top: 4rem;
        margin-bottom: 5rem;
    }
}

.form-steps .step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.form-steps .step-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: #8B81EC;
}

@media (min-width: 768px) {
    .form-steps .step-text {
        font-size: 1.4rem;
    }
}

.form-steps .form-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 1.6rem;
    color: #8B81EC;
    text-align: center;
    background: white;
    border: 1px solid #beb7ff;
    cursor: pointer;
    user-select: none;
    transition: all 300ms ease-in-out;
}

@media (min-width: 768px) {
    .form-steps .form-step {
        width: 45px;
        height: 45px;
        font-size: 2rem;
    }
}

.form-steps .form-step:hover {
    background: #F3F1FF;
}

.form-step.active, .form-step.active:hover {
    color: white;
    background: #8B81EC;
}

.form-steps .line {
    position: absolute;
    top: 30%;
    height: 1px;
    background: #beb7ff;
    z-index: 1;
}