.request-card-container {
    padding: 2.2rem;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 1.6rem;
}

.request-card-container .header-container h4 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.request-card-container .header-container p {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'SegoeUI';
    color: #AEAEAE;
    margin-top: .5rem;
}

.request-card-container .header-container {
    text-align: center;
}

@media (min-width: 768px) {
    .request-card-container .header-container {
        display: flex;
        text-align: left;
    }
}

.request-card-container .header-container .title-container {
    flex: 1;
}

.request-card-container .header-container .request-avatar {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    .request-card-container .header-container .request-avatar {
        width: 55px;
        height: 55px;
        margin-right: .6rem;
    }
}

.request-card-container .description-container p {
    margin: 0;
    color: #646D7B;
    font-size: 1.3rem;
    margin-top: 1.6rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 768px) {
    .request-card-container .description-container p {
        min-height: 4.4rem;
        margin-top: .8rem;
        margin-bottom: 1.6rem;
        font-size: 1.5rem;
    }
}