.speech-bubble {
    background: #35A5D4;
    border-radius: .4em;
    padding: .8rem 1rem;
    font-size: 1.4rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 8px rgb(0 0 0 / 50%);
}

@media (min-width: 768px) {
    .speech-bubble {
        padding: 1rem 1.2rem;
        font-size: 1.6rem;
        width: auto;
    }
}

.speech-bubble:hover {
    background: #3fbff7;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: #35A5D4;
    border-bottom: 0;
    border-right: 0;
    margin-left: -11px;
    margin-bottom: -12px;
}