

.img-avatar-container__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}