.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .container-navbar {
        justify-content: space-between;
    }
}

.main-navbar .container-navbar .navbar-nav {
    display: none;
}

.main-navbar.logged .container-navbar .navbar-nav {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .main-navbar .container-navbar .navbar-nav {
        display: flex;
        align-items: center;
    }
}

.navbar-nav .btn-nav {
    text-align: left;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 0 1.5rem 0;
}

@media (min-width: 768px) {
    .navbar-nav .btn-nav {
        display: block;
        text-align: center;
        color: white;
        font-size: 2rem;
        margin-left: 4rem;
    }
}

.navbar-nav .btn-nav:hover {
    color: #ded9ff;
    cursor: pointer;
}

.navbar-nav .btn-nav.nav-arrow {
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav .btn-nav.nav-arrow {
        display: block;
    }
}

.navbar-default {
    background: #8B81EC;
}

.navbar-shadow {
    box-shadow: 0px 3px 6px #00000029;
}

.main-navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 12;
    transition: all 200ms ease-in-out;
    height: var(--navbar-height);
}

@media (min-width: 768px) {
    .main-navbar {
        text-align: left;
        /*height: 103px;*/
    }
}

.main-navbar .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    margin-left: auto;
}

.main-navbar.logged .logo-header {
    display: none;
}

@media (min-width: 768px) {
    .main-navbar .logo-header, .main-navbar.logged .logo-header {
        width: 160px;
        margin-left: 0;
        display: flex;
    }
}

.main-navbar .img-sanguchito {
    width: 26px;
    margin-left: auto;
}

@media (min-width: 768px) {
    .main-navbar .img-sanguchito {
        display: none;
    }
}

.main-navbar .img-profile-navbar {
    order: -1;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .main-navbar .img-profile-navbar {
        order: 0;
        margin-right: 0;
        margin-left: 1.5rem;
    }
}

.main-navbar .container-submenu-navbar::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -24px;
    right: 10%;
    border-style: solid;
    border-width: 12px;
    border-color: transparent;
    border-bottom-color: white;
}

.main-navbar .container-submenu-navbar {
    position: absolute;
    top: 85%;
    right: 11.5%;
    padding: 1.2rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    width: 150px;
    text-align: right;
}

.main-navbar .container-submenu-navbar.close {
    display: none;
}

.main-navbar .container-submenu-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navbar .container-submenu-navbar ul li {
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.main-navbar .container-submenu-navbar ul li:hover {
    background-color: #ded9ff;
    color: white;
}

.main-navbar .container-submenu-navbar ul li:last-of-type {
    margin-bottom: 0;
}