.mini-profile__always-visible {
    display: flex;
    align-items: center;
}

.mini-profile__only-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: .8rem;
}

@media (min-width: 768px) {
    .mini-profile__only-mobile {
        display: none;
    }
}

.mini-profile__data-container {
    flex: 1;
    margin-left: 1.5rem;
}

.mini-profile__pre-title {
    display: flex;
    margin-bottom: .2rem;
    font-size: 1.2rem;
    font-style: italic;
}

.mini-profile__header {
    display: flex;
    align-items: center;
}

.mini-profile__tag {
    display: none !important;
    min-width: 50px;
    padding: 0 8px 0 8px;
    background-color: #BE67C1;
    color: white;
    border-radius: 30px;
    line-height: 1.5;
    font-size: 1rem;
    margin-left: 1rem;
    max-width: 140px;
}

@media (min-width: 768px) {
    .mini-profile__tag {
        display: -webkit-box !important;
        font-size: 1.2rem;
    }
}

.mini-profile__only-mobile__tag {
    min-width: 50px;
    padding: 0 8px 0 8px;
    background-color: #BE67C1;
    color: white;
    border-radius: 30px;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-left: auto;
    max-width: 140px;
}

.mini-profile__title {
    font-size: 1.6rem;
    color: var(--main-text-color);
}

.mini-profile__rs-container {
    display: none;
    min-width: 100px;
}

@media (min-width: 768px) {
    .mini-profile__rs-container {
        display: block;
        margin-left: 1.5rem;
    }
}

@media (min-width: 768px) {
    .mini-profile__rs {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.mini-profile__rs-title-container {}

.mini-profile__rs-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: .4rem;
}

.mini-profile__only-mobile__rs-title {
    font-size: 1.2rem;
    color: #2b2b2b;
    margin-right: 1rem;
}

/*Ãconos*/

.mini-profile__only-mobile__sn-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    margin-right: .6rem;
}

.mini-profile__only-mobile__sn-icon:last-of-type {
    margin: 0;
}

.mini-profile__sn-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.mini-profile__sn-icon:last-of-type {
    margin: 0;
}

.mini-profile__sn-icon>img, .mini-profile__sn-icon>svg {
    width: 22px !important;
    height: 22px !important;
    border-radius: 50% !important;
}