.tag-container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .tag-container {
        margin-top: 2rem;
        justify-content: flex-start;
    }
}

.tag {
    background: #F2AC57;
    border-radius: 20px;
    padding: .1rem 1.5rem;
    color: white;
    font-size: 1.4rem;
    box-shadow: 0px 2px 4px #00000029;;
}

@media (min-width: 768px) {
    .tag {
        background: #F2AC57;
        border-radius: 20px;
        padding: .1rem 2rem;
        color: white;
        font-size: 1.6rem;

    }  
}

