@font-face {
  font-family: 'SegoeUI-Bold';
  src: local('SegoeUI-Bold'), url(./fuentes/SegoeUI-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'SegoeUI-BoldItalic';
  src: local('SegoeUI-BoldItalic'), url(./fuentes/SegoeUI-BoldItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'SegoeUI-Italic';
  src: local('SegoeUI-Italic'), url(./fuentes/SegoeUI-Italic.ttf) format('opentype');
}

@font-face {
  font-family: 'SegoeUI';
  src: local('SegoeUI'), url(./fuentes/SegoeUI.ttf) format('opentype');
}

@font-face {
  font-family: 'SegoeUI';
  src: local('SegoeUI'), url(./fuentes/SegoeUI.ttf) format('opentype');
}

@font-face {
  font-family: 'LilitaOne';
  src: local('LilitaOne'), url(./fuentes/LilitaOne.ttf) format('opentype');
}

:root {
  --navbar-height: 60px;
  --bottom-navbar-height: 50px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 80px;
    --bottom-navbar-height: 65px;
  }
}

html {
  font-size: 62.5%;
  /*Reset para REMS = 10px de 16px*/
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #615a67;
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
  /*border: none;*/
  outline: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 2.3rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
  }
}

p {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-1p5 {
  margin-bottom: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.py-08 {
  padding-top: .8rem !important;
  padding-bottom: .8rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.m0-auto {
  margin: 0 auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.d-none {
  display: none !important;
}

.b-shadow-none {
  box-shadow: none !important;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
}

.border-shadow {
  border: 3px solid white;
  box-shadow: 0px 5px 20px #2c273829;
}

.d-flex {
  display: flex !important;
}

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.stretch {
  width: 100%;
}

.justify-self-right {
  margin-left: auto;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.align-flex-start {
  align-self: flex-start;
}

.br-50 {
  border-radius: 50%;
}

.container-xl {
  max-width: 144rem !important;
  width: 90%;
  margin: 0 auto;
}

.container-sm {
  max-width: 144rem !important;
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-xl {
    width: 75%;
  }
}

.container-pdf-preview {
  max-width: 144rem !important;
  width: 95%;
  margin: 0 auto;
  padding-bottom: var(--bottom-navbar-height);
  margin-top: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container-pdf-preview {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.container-pdf-preview img {
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(0 0 0 / 50%);
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-pdf-preview img {
    max-width: 100%;
  }
}

.below-navbar {
  padding-top: var(--navbar-height);
}

.colored-background {
  background: #F3F1FF;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: unset !important;
  overflow-wrap: break-word;
  word-break: break-all;
}

.clamp-1 {
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.no-break {
  overflow-wrap: unset;
  word-break: keep-all;
}

.w-60 {
  width: 60% !important;
}

@media (min-width: 768px) {
  .w-md-75 {
    width: 75% !important;
  }
}

.z-3 {
  z-index: 3 !important;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  padding: .5rem 3rem;
  color: white;
  /*margin-top: .8rem;*/
  box-shadow: 0px 3px 6px #00000029;
  transition: all 200ms ease-in-out;
}

.button:active {
  box-shadow: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 2rem;
  }
}

/*.button span {
  vertical-align: middle;
}*/

.button-green {
  background-color: #3DE58D;
}

.button-green:hover {
  background-color: #82e9b4;
}

.button-red {
  background-color: #E53D54;
}

.button-red:hover {
  background-color: #e06e7d;
}

.button-blue {
  background-color: #3d88e5;
}

.button-blue:hover {
  background-color: #70aaf0;
}

.button-purple {
  background-color: #8B81EC;
}

.button-purple:hover {
  background-color: #b6b0f1;
}

.button-light-purple {
  background-color: #b6b0f1;
}

.button-light-purple:hover {
  background-color: #cecceb;
}

.button-whatsapp {
  background-color: #06d755;
}

.button-whatsapp:hover {
  background-color: #06be4c;
}

.button-group-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-thin {
  padding: .6rem 3rem;
}

@media (min-width: 768px) {
  .button-thin {
    padding: .6rem 9rem;
  }
}

.order-1 {
  order: -1;
}

.text-align-center {
  text-align: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
  transition: all 500ms ease-in-out;
}

.overlay.open::before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
  /* apply the blur */
  backdrop-filter: blur(8px);
  /* apply the blur */
  pointer-events: none;
  /* make the pseudo class click-through */
}

/*Trick for React reveal*/

.overlay-modal+div {
  position: absolute;
}

.overlay.open {
  background: rgba(0, 0, 0, 0.2);
  pointer-events: unset;
}

.overlay.close {
  background: none;
  pointer-events: none;
}

.modal.close, .overlay-modal.close {
  pointer-events: none;
}

/*formularios*/

.form-group {
  margin-bottom: 3.5rem;
}

.form-group p {
  color: #756F86;
}

.form-group a {
  color: #8B81EC;
}

.form-buttons-container {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 16px;
  color: #756F86;
  margin-bottom: .8rem;
  display: block;
}

input[type=text], input[type=number], input[type=email], input[type=password], textarea {
  border: 1px solid #DBE2EA;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  width: 100%;
  resize: none;
}

/*Inicio*/

.section {
  margin-top: 1.6rem;
}

@media (min-width: 768px) {
  .section {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .section h2 {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) {
  .section h3 {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) {
  .section-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.section-body h2, .section-body h3 {
  color: #615a67;
  text-align: center;
}

@media (min-width: 768px) {
  .section-body h2, .section-body h3 {
    text-align: left;
  }
}

.section-body p {
  color: #646D7B;
  text-align: center;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .section-body p {
    text-align: left;
    font-size: 2.2rem;
    margin: 0;
  }
}

.main-body {
  min-height: 95vh;
  padding-bottom: 5rem;
  /*overflow: hidden;*/
}

.section-body .main-section {
  flex-basis: 40%;
  margin-bottom: 4rem;
}

.section-body .main-section h3 {
  text-align: center;
}

.section-body .main-section img {
  display: block;
  margin: 0 auto;
}

.section-body .main-section .img-container {
  display: flex;
  align-items: center;
  height: 150px;
}

@media (min-width: 768px) {
  .section-body .main-section .img-container {
    height: 200px;
  }
}

.section-body .main-section .img-container.img-container-lentes {
  height: 100px;
}

@media (min-width: 768px) {
  .section-body .main-section .img-container.img-container-lentes {
    height: 200px;
  }
}

.section-body .main-section .img-lentes {
  width: 150px;
  height: 100px;
}

@media (min-width: 768px) {
  .section-body .main-section .img-lentes {
    width: 222px;
    height: 120px;
  }
}

.section-body .main-section .img-pincel {
  width: 100px;
  height: 150px;
}

@media (min-width: 768px) {
  .section-body .main-section .img-pincel {
    width: 140px;
    height: 180px;
  }
}

.section-body .main-section a {
  color: #8B81EC;
}

.section-body .text-section {
  flex-basis: calc(60% - .5rem);
}

@media (min-width: 768px) {
  .section-body .text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-body .img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(40% - .5rem);
}

.section-body .img-section img {
  margin: auto 0;
}

/*Formulario de solicitud*/

.floating-form {
  position: relative;
  background: white;
  padding: 2rem 2.5rem;
  border-radius: 2.4rem;
  box-shadow: 0px 5px 20px #2C273829;
  z-index: 5;
  transition: all 500ms ease;
}

.cbo-text {
  display: flex;
}

.cbo-text input[type=text] {
  border-radius: 0 5px 5px 0;
}

.img-fondo-formulario {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
  width: 253px;
  height: 248px;
  top: -180px;
  right: -100px;
  z-index: 1;
  border: 5px solid white;
  box-shadow: 0px 5px 20px #2c273829;
  background: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.txt-responsive-form {
  width: 65%;
}

@media (min-width: 768px) {
  .txt-responsive-form {
    width: 100%;
  }
}

.chkTag {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 30px;
  padding: .7rem 3rem;
  color: #adadad;
  transition: all 200ms ease-in-out;
  border: 2px solid rgba(139, 139, 139, .3);
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  user-select: none;
}

.chkTag:last-of-type {
  margin: 0;
}

.chkTag:hover {
  background-color: #ded9ff;
}

.chkTag.active {
  background-color: #8B81EC;
  color: white;
}

.chkTag.active:hover {
  background-color: #6c56ff;
}

@media (min-width: 768px) {
  .chkTag {
    padding: .5rem 2rem;
    font-size: 1.8rem;
  }
}

/*Login*/

.img-fondo-login {
  position: absolute;
  width: 700px;
  height: 800px;
  top: -150px;
  left: -150px;
  z-index: 1;
}

@media (min-width: 768px) {
  .login-container .floating-form {
    width: 50%;
    margin-left: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/*Admin*/

.title-admin-container>h2 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
}

.title-admin-container {}

@media (min-width: 768px) {
  .title-admin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title-admin-container>h2 {
    font-size: 2.8rem;
    text-align: left;
  }
}

.title-admin-container>.dropdown-container {
  margin-top: 1.6rem;
}

@media (min-width: 768px) {
  .title-admin-container>.dropdown-container {
    margin-top: 0;
    flex-basis: 25%;
  }
}

.tab-content {
  padding: .5rem;
}

.text-empty {
  font-family: LilitaOne;
  font-weight: 100;
}

.sample-design-detail {
  display: block;
  max-height: 350px;
  border-radius: 10px;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}

.sample-design-detail:hover {
  transform: scale(1.1);
}

/*Contenedores de pie para tarjetas y modales*/

.footer-card-container {
  display: block;
}

@media (min-width: 768px) {
  .footer-card-container {
    display: flex;
    justify-content: flex-end;
  }
}

.button-option-request {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.button-option-request:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .button-option-request {
    margin: 0;
    padding: .6rem 3rem;
    width: auto;
  }
}

.button-option-request .icon {
  margin-right: .6rem;
}

.footer-card-container {
  margin-top: auto;
}

@media (min-width: 768px) {
  .button-container {
    display: flex;
  }
}

@media (min-width: 768px) {
  .button-container .button {
    margin-right: 2rem;
  }
  .button-container .button:last-of-type {
    margin-right: 0;
  }
}

/*Preparación solicitud*/

.prep-req-container svg {
  cursor: pointer;
}

.prep-req-container svg:hover {
  color: #959595;
}

.prep-req-container h4 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .prep-req-container h4 {
    font-size: 2rem;
  }
}

.prep-req-container p, .prep-req-container a, .prep-req-container ul li {
  margin: 0;
  color: #646D7B;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.prep-req-container a {
  color: #6392DC;
  word-break: break-all;
}

.prep-req-container ul li {
  margin: 0;
  min-height: unset;
}

@media (min-width: 768px) {
  .prep-req-container p, .prep-req-container a, .prep-req-container ul li {
    min-height: 4.4rem;
    margin-top: .8rem;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  .prep-req-container ul li {
    margin: 0;
    min-height: unset;
  }
}

/*Perfil*/

.profile-header-container {
  position: relative;
  min-height: 300px;
}

@media (min-width: 768px) {
  .profile-header-container {
    min-height: 205px;
  }
}

.profile-container {
  margin: 0 auto;
  width: 70%;
  padding-top: 2.8rem;
  padding-bottom: 1.5rem;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .profile-container {
    display: flex;
    text-align: left;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}

.profile-header-container .profile-img {
  position: relative;
  margin: 0 auto;
  width: 136px;
  height: 136px;
}

@media (min-width: 768px) {
  .profile-header-container .profile-img {
    margin: 0;
    margin-right: 4rem;
    width: 150px;
    height: 150px;
  }
}

/*Perfil persona*/

.profile-img>.sn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 185%;
}

@media (min-width: 480px) {
  .profile-img>.sn-container {
    width: 220%;
  }
}

@media (min-width: 768px) {
  .profile-img>.sn-container {
    display: block;
    top: 0;
    margin-top: 1rem;
    left: -80px;
    transform: unset;
    width: auto;
  }
  .profile-img>.sn-container .sn-icon {
    margin-bottom: 1.5rem;
  }
}

/*Perfil editorial*/

.profile-container>.sn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .profile-container>.sn-container {
    position: absolute;
    display: block;
    left: -80px;
    margin-top: 1rem;
  }
  .profile-container>.sn-container .sn-icon {
    margin-bottom: 1.5rem;
  }
  .profile-container>.sn-container .sn-icon:last-of-type {
    margin-bottom: 0;
  }
}

/*Continuación*/

.editorial-tag {
  user-select: none;
}

.profile-img .editorial-tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #BE67C1;
  color: white;
  font-size: 1.2rem;
  padding: .3rem 1.2rem;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #2c273829;
  z-index: 2;
}

@media (min-width: 768px) {
  .profile-img .editorial-tag {
    display: none;
  }
}

.profile-img .editorial-tag>img {
  width: 15px;
  height: 15px;
  margin-right: .5rem;
}

.profile-img .editorial-tag>span {
  text-align: left;
}

.profile-editorial .editorial-tag {
  display: none;
}

@media (min-width: 768px) {
  .profile-editorial .editorial-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BE67C1;
    color: white;
    font-size: 1.4rem;
    padding: .4rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #2c273829;
    margin-top: 1.4rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .profile-editorial .editorial-tag:hover {
    box-shadow: 0px 5px 20px #2c273829;
  }
  .profile-editorial .editorial-tag>img {
    width: 18px;
    height: 18px;
    margin-right: .5rem;
  }
  .profile-editorial .editorial-tag>span {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .profile-data {
    margin-right: 4rem;
  }
}

.profile-data h2 {
  font-weight: normal;
  font-size: 2rem;
  margin: 1.2rem 0 1.6rem 0;
}

@media (min-width: 768px) {
  .profile-data h2 {
    font-size: 2.8rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }
}

/*Perfil persona*/

.profile-data .statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .profile-data .statistics {
    justify-content: flex-start;
  }
}

.profile-data .statistics .statistic {
  margin-right: 1rem;
  font-size: 1.4rem;
}

.profile-data .statistics .statistic:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .profile-data .statistics .statistic {
    font-size: 1.6rem;
  }
}

/*Perfil editorial*/

.profile-data .follow-name {
  text-align: center;
  margin-bottom: 1.8rem;
  font-weight: 400;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .profile-data .follow-name {
    text-align: left;
  }
}

/*Continuación*/

.profile-data .description p {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: .5rem;
}

@media (min-width: 768px) {
  .profile-data .description p {
    font-size: 1.6rem;
  }
}

.profile-data .description p:last-of-type {
  margin: 0;
}

.sn-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.sn-icon>img, .sn-icon>svg {
  width: 22px !important;
  height: 22px !important;
  border-radius: 50% !important;
}

.sn-wattpad {
  border-color: rgb(255, 87, 34);
}

.sn-wattpad>svg {
  color: rgb(255, 87, 34);
}

.sn-facebook {
  border-color: #3c5a9a;
}

.sn-facebook>svg {
  color: #3c5a9a;
}

.sn-twitter {
  border-color: #157dc3;
}

.sn-twitter>svg {
  color: #157dc3;
}

.sn-instagram {
  border-color: #b947ba;
}

.sn-instagram>svg {
  color: #b947ba;
}

.sn-buenovela {
  border-color: #d88627;
}

.sn-buenovela>svg {
  color: #d88627;
}

.sn-inkspired {
  border-color: #1e8e22;
}

.sn-inkspired>svg {
  color: #1e8e22;
}

.sn-youtube {
  border-color: #ff0000;
}

.sn-youtube>svg {
  color: #ff0000;
}

.sn-generic-link {
  border-color: #3366cc;
}

.sn-generic-link>svg {
  color: #3366cc;
}

.services-profile-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 4rem;
}

@media (min-width: 610px) {
  .services-profile-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 910px) {
  .services-profile-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .services-profile-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*Previsualización resultado*/

.mini-profile-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  padding-top: .8rem;
  padding-bottom: .8rem;
  z-index: 10;
  box-shadow: 0px 5px 20px #2c273829;
}

@media (min-width: 768px) {
  .mini-profile-container {
    /*margin-top: 2rem;
    margin-bottom: 3rem;*/
  }
}

.container-background-prev {
  min-height: 200px;
}

@media (min-width: 768px) {
  .container-background-prev {
    height: 500px;
  }
}

.background-prev {
  position: absolute;
  left: -15%;
  top: -15%;
  background-position: center center;
  background-size: cover;
  filter: blur(8px) brightness(110%) contrast(90%) saturate(50%);
  -webkit-filter: blur(8px) brightness(120%) contrast(90%) saturate(50%);
  width: 120%;
  height: 120%;
  z-index: 1;
}

.content-prev {
  position: relative;
  height: 100%;
  z-index: 2;
}

.content-prev-row {
  height: 100%;
}

@media (min-width: 768px) {
  .content-prev-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content-prev-row .content-prev-img {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .content-prev-row .content-prev-img {
    height: 90%;
    flex-basis: calc(40% - 1rem);
    display: flex;
    align-items: center;
  }
}

.content-prev-row .content-prev-img img {
  border-radius: 10px;
  box-shadow: 0px 5px 20px #2c273829;
}

@media (min-width: 768px) {
  .content-prev-row .content-prev-img img {
    max-height: 100%;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  .content-prev-row .content-prev-img img:hover {
    transform: scale(1.1)
  }
}

.content-prev-row .content-prev-description {
  flex-basis: calc(60% - 1rem);
  padding: 2rem;
  border-radius: 10px;
  background: white;
  min-height: 45%;
  box-shadow: 0px 5px 20px #2c273829;
}

.prev-header-container {
  text-align: center;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .prev-header-container {
    display: flex;
    text-align: left;
    align-items: center;
  }
}

.prev-header-container .prev-avatar {
  display: block;
  margin: 0 auto;
  width: 3.5rem;
  height: 3.5rem;
}

@media (min-width: 768px) {
  .prev-header-container .prev-avatar {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: .6rem;
  }
}

.prev-header-container .title-container {
  flex: 1;
}

.prev-header-container .title-container p {
  margin: 0;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .prev-header-container .title-container p {
    font-size: 1.8rem;
  }
}

.prev-content-container {
  margin-top: 2rem;
}

/*Barra inferior*/

.bottom-prev-navbar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: var(--bottom-navbar-height);
  box-shadow: 0px 3px 6px #00000029;
  background: rgb(112, 103, 209, 0.9);
}

.bottom-prev-navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-prev-navbar nav>button {
  display: block;
  flex-grow: 1;
  border: 2px solid #fbffba;
  border-radius: 10px;
  color: #fbffba;
  padding-top: .8rem;
  padding-bottom: .8rem;
  text-decoration: none;
  outline: none;
  margin-right: 1rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

@media (min-width: 768px) {
  .bottom-prev-navbar button {
    font-size: 2.2rem;
  }
}

.bottom-prev-navbar button:last-of-type {
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: unset;
}

/*Burbuja de mensaje*/

.bottom-prev-navbar .speech-container {
  z-index: 50;
  position: absolute;
  bottom: calc(var(--bottom-navbar-height) - .2rem);
  color: white;
  left: 10%;
  width: 70%;
  text-align: center;
}

@media (min-width: 768px) {
  .bottom-prev-navbar .speech-container {
    left: 30%;
    width: auto;
  }
}

@media (min-width: 1120px) {
  .bottom-prev-navbar .speech-container {
    left: 45%;
  }
}

/*Pantalla de carga*/

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #8B81EC;
  z-index: 15;
}

.loading-screen .loader-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-screen .loader-container .content-loader-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-screen .loader-container img {
  width: 190px;
  height: 42px;
}

@media (min-width: 768px) {
  .loading-screen .loader-container img {
    width: 380px;
    height: 65px;
  }
}

.loading-screen .loader-container p {
  color: #fff;
  width: 100%;
  margin: 0;
  margin-top: .8rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .loading-screen .loader-container p {
    margin-top: 1rem;
    font-size: 2.2rem;
  }
}

.container-pdf-preview canvas {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 50%);
  margin-bottom: 1rem;
}

/*Button con like activo*/

.button-liked {
  background: #fa3f6a;
  border: none;
}

.button-liked:hover, .button-liked:active {
  background: #e5214e;
}