.container-select-image {
    position: relative;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .container-select-image {
        font-size: 1.6rem;
    }
}

.select-image {
    background: var(--secondary-light-color) 0% 0% no-repeat padding-box;
    /*border: none;*/
    border: 1px solid var(--border-color);
    border-radius: 5px 0 0 5px;
    width: 8rem;
    min-height: 3.5rem;
    height: 100%;
    cursor: pointer;
    color: var(--main-text-color)
}

.selectable-list {
    position: absolute;
    width: 8rem;
    top: 100%;
    animation: all 200ms ease-in-out;
    border: 1px solid var(--border-color);
    color: var(--main-text-color);
    z-index: 50;
    transition: all 2000ms ease-in-out;
}

.selectable-list-item {
    background: var(--secondary-light-color);
    opacity: 1;
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.selectable-list-item:hover {
    background: var(--primary-light-color);
}

.dropdown-list-tag {
    position: absolute;
    right: -30px;
    bottom: -15px;
    padding: 2px 5px;
    background: var(--primary-color);
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    z-index: 100;
}