.container-select-image {
    position: relative;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .container-select-image {
        font-size: 1.6rem;
    }
}

.select-image {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #2C273829;
    border: 1px solid #DBE2EA;
    border-radius: 5px 0 0 5px;
    width: 8rem;
    min-height: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.selectable-list {
    position: absolute;
    border: 1px solid black;
    width: 8rem;
    top: 100%;
    animation: all 200ms ease-in-out;
    border: 1px solid #DBE2EA;
    z-index: 50;
    transition: all 2000ms ease-in-out;
}

.selectable-list-item {
    background: white;
    opacity: 1;
    padding: 1.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.selectable-list-item:hover {
    background: #ded9ff;
}

.dropdown-list-tag {
    position: absolute;
    right: -30px;
    bottom: -15px;
    padding: 2px 5px;
    background: #8B81EC;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    z-index: 100;
}